{% extends "base.html" %}

{% block title %}About - Injury Severity Prediction{% endblock %}

{% block content %}
<div class="about-container">
    <h2>About the Project</h2>
    <p>This website predicts the injury severity in an accident based on various factors in Kerala, like the type of vehicle involved, weather conditions, road conditions and more. It uses a machine learning model trained on accident data to provide these predictions.</p>
<br> Created for DataScience Project</br>
</div>
{% endblock %}
